<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinnova.smartpad.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.jinnova.smartpad.android.SmartpadApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jinnova.smartpad.android.feed.FeedListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.fav.FavoriteActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.member.MemberCardActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.order.OrdersActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.promo.PromotionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.cat.ShoppingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jinnova.smartpad.android.feed.FeedDetailActivity"
            android:label="@string/title_activity_feed_detail" >
        </activity>
    </application>

</manifest>
